.note {
    background: rgb(246, 246, 108);
    padding: 10px;
    width: 300px;
    margin: 16px;
    float: left;

    h1 {
        font-size: 1.1em;
        margin-bottom: 6px;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 10px;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    button {
        position: relative;
        float: right;
        margin-right: 10px;
        color: black;
        border: none;
        width: 36px;
        height: 36px;
        cursor: pointer;
        outline: none;
    }
}