header {
    background-color: white;
    text-align: center;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

    h1 {
        color: black;
        font-family: "McLaren", cursive;
        font-weight: 200;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        color: red;
    }
}